body {
    font-family: Tahoma;
    font-size: 10pt;
    line-height: 170%;
    padding: 0 10pt;
}

pre {
    width: 70%;
    min-width: 400px;
    background: #777676;
    padding: 10px;
    border-radius: 5px;
}

nav {
    /*background: #777676;*/
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    padding: 10px;
    border-right: 2px solid #777676;
    margin-top: 5px;
}

nav div {
    list-style: none;
    border-style: none;

}
nav li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: saddlebrown;
}

header {
    padding-left: 250px;
}

article {
    padding-left: 250px;
}

header ul {
    margin-left: 15px;
}
article ul {
    margin-left: 15px;
}

footer ul {
    margin-left: 15px;
}

footer {
    padding-left: 250px;
}

/*.level3::before {*/
    /*content: '\F103';*/
    /*font-family: icons !important;*/
    /*font-style: normal;*/
    /*font-weight: normal !important;*/
/*}*/


body, ul, li {
    border-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.setDeg {
    -webkit-transform: rotate(90deg)
}
.delDeg {
    -webkit-transform: rotate(0deg)
}
.arrow-svg {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    transition: all 200ms;
    margin-right: 0.2em;
    cursor: pointer;
    font-weight: bold;
}
.second-ul {
    display: none;
    margin-left: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 1px dashed #777676;
}
.second-ul li {
    position: relative;
}
.second-ul li::before {
    content: '';
    width: 0.8em;
    border-bottom: 1px dashed #777676;
    position: absolute;
    left: 0;
    top: 60%;
}
li a {
    display: inline-block;
    margin-left: 1em;
    font-size: 0.9em;
}


@media screen and (max-width: 800px) {
    nav {
       display: none;
    }
    header {
        padding-left: 5px;
    }

    article {
        padding-left: 5px;
    }

    footer {
        padding-left: 5px;
    }
}